$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

body, html, main {
  width: 100%;
  height: 100%;
  color: black;
}

// .list-group-item {
// 	padding: 30px;
// }

.badge--danger {
	background-color: #d43f3a;
}

.badge--warning {
	background-color: #ec971f;
}

.badge--success {
	background-color: #449d44;
}

.green-bg {
	background: green;
}