<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<form action="POST" name="addTodoForm">
				<div class="form-group">
					<label for="todo" ng-hide="vm.editing">What do you need to do?</label>
					<label for="todo" ng-show="vm.editing">Editing: "{{ vm.currentTodo.todo }}"</label>
					<input type="text" name="todo" id="todo" class="form-control" ng-model="todo" ng-blur="vm.cancelEdit()">
				</div>
				<input ng-if="!vm.editing" type="submit" value="Add" class="btn btn-default pull-right" ng-click="vm.addTodo(todo, $event)">
				<input ng-if="vm.editing" type="submit" value="Update" class="btn btn-default pull-right" ng-click="vm.updateTodo(vm.currentTodo, todo, $event)">
			</form>
		</div>
	</div>

	<br>

	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<ul class="list-group">
				<li class="list-group-item clearfix" ng-repeat="todo in vm.todos">
					<span class="glyphicon glyphicon-ok" ng-if="todo.isDone"></span><span> {{ todo.todo }}</span>
					<button class="btn btn-danger badge badge--danger" type="button" ng-click="vm.deleteTodo(todo)"><span class="glyphicon glyphicon-remove"></span></button>
					<button class="btn btn-warning badge badge--warning" type="button" ng-click="vm.enterEditing(todo)"><span class="glyphicon glyphicon-pencil"></span></button>
					<button class="btn btn-success badge badge--success" type="button" ng-click="vm.checkTodo(todo)"><span class="glyphicon glyphicon-ok"></span></button>
				</li>
			</ul>
		</div>
	</div> 
</div>